<h1>
  Questions
  <span class="new_button">
      <%= link_to "+", new_question_path %>
  </span>
</h1>

<% @questions.each do |question| %>
  <h3>
    <%= link_to question.title, question_path(question) %>
    <small>
      asked by
      <%= link_to full_name(question.user.first_name, question.user.last_name), user_path(question.user) %>
      <%= time_ago_in_words(question.created_at) %> ago.
    </small>
  </h3>
<% end %>
